.list {
  list-style: none;
  background-color: #ffffff;
}

.itemWrapper {
  padding: 0 30px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e1e4ea;
}

.avatarBlock {
  display: flex;
  align-items: center;
}

.avatar {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.name {
  padding-left: 40px;
}
